/*-------------------全局样式  begin------------------------*/
*{margin:0;padding:0;text-decoration:none;list-style:none;font:14px  Helvetica, Arial, sans-serif;}
.left{float:left;}
.right{float:right;}
.clear:after{content:'';clear:both;display:block;}
body{background:#212429;}
/*-----------------  全局样式  end ---------------------*/


body{margin:0;}
.camera_item{ float:left;height:545px; width:48.3%; margin-right:2%;position: relative;}
.camera_item:nth-child(even){margin-right:0;}
.camera_item_two{ float:left;height:500px;width:99.9%;background:url(../../images/camera/init_white.png) no-repeat center center;cursor: pointer;border:1px solid #d3d3d3;}
.camera_item_two:nth-child(even){margin-right:0;}
.camera_dd{height:25px;font-size: 18px;color:#000;float:left;position:relative;}
.top_box{width:100%;margin:0 auto;height:45px;/*background-color:#F1F1F1;*/background:#d3d3d3;position: relative;top:45px;}
.bottom_box{width:100%;height:25px;position: absolute;bottom:0;background:none;}

.camera_manage_content{width:100%;back}
.image_choice_two,.image_choice_three{width:35px;height: 35px;margin:10px;cursor: pointer;}
.quanping{float:right;margin-right:3%;position: relative;width: 25px;height: 25px;top: -20px;margin-left: 750px;z-index: 9999;cursor: pointer;}
.controldiv{margin-top:-48px;margin-right: 700px;font-size:20px;}

@media all and ( max-width:1400px ){
    .camera_item_two{height:400px!important;}
    .camera_item{height:450px!important;}
}
@media all and ( max-width:1150px ){
    .camera_item_two{height:350px!important;}
    .camera_item{height:400px!important;}
}
@media all and ( max-width:950px ){
    .camera_item_two{height:300px!important;}
    .camera_item{height:350px!important;}
}
@media all and ( max-width:800px ){
    .header-box{width:800px!important;}
    .wrap{width:800px!important;}
    .camera_item{height:350px!important;}
}



/*-----------------  右侧内容  begin ---------------------*/
.camera-con{width:91.14%;background:#fff;padding-bottom: 150px;}
.camera-wrap{width:97%;margin:0 auto;background: #fff;}
.camera-top{color:#fff;padding-left:1%;width:97.5%;height:60px;line-height:60px;background:#87898c;margin-top:20px;}
.camera-img-wrap{width:1.6%;margin-right:15px;cursor:pointer;}
.button_image{position:relative;padding-top:100%;}
.button_image>img,.button_control_image>img{margin-top:19px;position:absolute;top:0;left:0;width:100%;height:100%;}
.camera-top-title{margin-top:20px;font-size:16px;margin-right:10px;}
.camera-img-control-wrap{width:2.5%;margin-right:15px;cursor:pointer;}
.button_control_image{position:relative;padding-top:55%;}


