/* CSS Document */
.pic1{height:auto;}
.dianlu3 .pic1 img{width:150px; height:auto;}
.pic1 b.dianlu3First {
    left: 60px;
    top: 107px;
    height: 49px;
}
.pic1 b.dianlu3Second {
    left: 70px;
    top: 103px;
    height: 53px;
}
.pic1 b.dianlu45Second {
    left:90px;
}
.pic1 b.dianlu3Last {
    left:73px;
}


/*dianlu4*/
.pic1 img {
    display: inline-block;
    width:188px;
    height:auto;
}

.pic1 b.dianlu2First {
    left:67px;
}
.pic1 b {
    position:absolute;
    top:99px;
    width:6px;
    height:49px;
}






