/* CSS Document */
.gtPowerPhoto{padding-top:100px;}

/*gy_10*/
.gy_10PowerPhoto{ position:relative; margin-left:300px;}
.gy_10Location1{ top:70px; left:86px;}
.gy_10Location2{ top:70px; left:399px;}
.gy_10Location3{ top:70px; left:540px;}
.gy_10Location4{ top:70px; left:680px;}
.gy_10Location5{ top:70px; left:821px;}
.gy_10Location6{ top:70px; left:962px;}
/*dy_10*/
.dy_10PowerPhoto{margin-left:150px;}
.dy_10Location1{ top:118px; left:48px;}
.dy_10Location2{ top:118px; left:130px;}
.dy_10Location3{ top:118px; left:210px;}
.dy_10Location4{ top:118px; left:290px;}
.dy_10Location5{ top:118px; left:370px;}
.dy_10Location6{ top:118px; left:452px;}

.dy_10Location7{ top:113px; left:594px;}

.dy_10Location8{ top:118px; left:687px;}
.dy_10Location9{ top:118px; left:768px;}
.dy_10Location10{ top:118px; left:847px;}
.dy_10Location11{ top:118px; left:928px;}
.dy_10Location12{ top:118px; left:1008px;}
.dy_10Location13{ top:118px; left:1089px;}

.dy_10Location15{ top:118px; left:1205px;}
.dy_10Location16{ top:118px; left:1287px;}
.dy_10Location17{ top:118px; left:1367px;}
.dy_10Location18{ top:118px; left:1448px;}
.dy_10Location19{ top:118px; left:1530px;}
.dy_10Location20{ top:118px; left:1610px;}
.dy_10Location21{ top:118px; left:1692px;}
.dy_10Location22{ top:118px; left:1773px;}
.dy_10Location23{ top:118px; left:1880px;}
.dy_10Location24{ top:118px; left:2003px;}
.dy_10Location25{ top:118px; left:2200px;}
.dy_10Location26{ top:118px; left:2285px;}

