/* CSS Document */

.hcfs_dataTit{position:absolute; top:223px; left:-47px;}
.hcfs_dataTit li{height:20px;line-height:20px; margin-bottom:9px;}

.whswcBlock1{ position:relative;}
.whswc_s1{ position:absolute;top:3px;left:-110px;}
.whswcOC_s1{top:98px;left:44px;}

.whswcOC_s2{top:38px;left:46px;}

.whswcTitP1{ top:-48px;left:220px;}
.whswcTitP2{ top:-48px;left:110px;}
.whswcTitP3{ top:-48px;left:330px;}
.whswcTitP4{ top:-48px;left:68px;}
.whswcInfor li
{
    line-height:20px;
    margin: 5px 0;
    color: #01ff5b;
	text-align:center;
}
.whRelative{ position:relative; width:100px;}
.whswcOC_s3{top:39px; left:46px;}
 
.whswcGroup li .lwmData{ border:none;}
.whswcGroup li
{    
	color:#01ff5b;
    border:1px solid #404e83;
    width:88px;
    height:20px;
    line-height:20px;
	margin:0 auto 6px;
}

.wenDuFont{ color:#ff7e00; font-size:24px; margin:0 10px;}
.shiDuFont{ color:#ff0000; font-size:24px;margin:0 10px;}
.whswccWenShiDuTit{    
	font-family: "SimHei";
    font-size: 16px;
    color: #FFF;
    margin: 10px auto;
    text-align: center;
}
.wenshiBack1{background:url(../images/line/whswc/whswcImg5.png) no-repeat;}
.whswcWenShiDu{
	width:126px; 
	height:84px; 
	padding:18px 20px 18px 47px;
	font-size:14px; 
	color:#FFF; 
	line-height:36px;
}
.whswcInfor{height: 70px;}



























