/* CSS Document */
.wjBDG1 .OC1{width:12px; height:49px;}
.wjBDG1 .minHaiOC1{left:97px; top:105px;}
.wjBDG1 .minHaiOC2{left:62px; top:105px;}
.wjLT1{width:auto;left:28px;}
.wjLT1 img{margin-bottom:33px;}

.wjBDG2 .minHaiOC1{left:83px; top:136px;}
.wjBDG2 .minHaiOC2{left:45px; top:28px;}
.wjBDG2 .minHaiOC3{left:45px; top:39px;}
.wjBDG2 .minHaiOC4{left:45px; top:29px;}

.wjBDG2 .bianYaQi1{left:79px; top:136px;}
.wjBDG2 .bianYaQi2{left:23px; top:85px;}


.wjBDG2 .minHaiDT{width:63px;}
.wjGaoYa .minHaiDT{width:20px;}





















