.kdDT-title{width:60px;text-align: center;color:white;}




/* CSS Document */
.gtPowerPhoto{padding-top:100px;}
.OC1{ height:25px;}
/*gy_10*/
.gy_10PowerPhoto{ position:relative; margin-left:300px;}
.gy_10Location1{ top:70px; left:86px;}
.gy_10Location2{ top:70px; left:399px;}
.gy_10Location3{ top:70px; left:540px;}
.gy_10Location4{ top:70px; left:680px;}
.gy_10Location5{ top:70px; left:821px;}
.gy_10Location6{ top:70px; left:962px;}
/*dy_10*/
.dy_10PowerPhoto{margin-left:150px;}
.dy_10Location1{ top:118px; left:48px;}
.dy_10Location2{ top:118px; left:130px;}
.dy_10Location3{ top:118px; left:210px;}
.dy_10Location4{ top:118px; left:290px;}
.dy_10Location5{ top:118px; left:370px;}
.dy_10Location6{ top:118px; left:452px;}
.dy_10Location7{ top:113px; left:594px;}
.dy_10Location8{ top:118px; left:687px;}
.dy_10Location9{ top:118px; left:768px;}
.dy_10Location10{ top:118px; left:847px;}
.dy_10Location11{ top:118px; left:928px;}
.dy_10Location12{ top:118px; left:1008px;}
.dy_10Location13{ top:118px; left:1089px;}
.dy_10Location14{ top:118px; left:1205px;}
.dy_10Location15{ top:118px; left:1287px;}
.dy_10Location16{ top:118px; left:1367px;}
.dy_10Location17{ top:118px; left:1448px;}
.dy_10Location18{ top:118px; left:1530px;}
.dy_10Location19{ top:118px; left:1610px;}
.dy_10Location20{ top:118px; left:1692px;}
.dy_10Location21{ top:118px; left:1773px;}
.dy_10Location22{ top:118px; left:1880px;}
.dy_10Location23{ top:118px; left:2003px;}

.dy_10Location24{ top:590px; left:98px;}
.dy_10Location25{ top:592px; left:192px;}
.dy_10Location26{ top:592px; left:272px;}
.dy_10Location27{ top:592px; left:352px;}
.dy_10Location28{ top:592px; left:434px;}
.dy_10Location29{ top:592px; left:514px;}
.dy_10Location30{ top:592px; left:594px;}
.dy_10Location31{ top:592px; left:701px;}
.dy_10Location32{ top:592px; left:781px;}
.dy_10Location33{ top:592px; left:861px;}
.dy_10Location34{ top:592px; left:942px;}
.dy_10Location35{ top:592px; left:1022px;}
.dy_10Location36{ top:592px; left:1104px;}
.dy_10Location37{ top:592px; left:1206px;}
.dy_10Location38{ top:592px; left:1287px;}
.dy_10Location39{ top:592px; left:1368px;}
.dy_10Location40{ top:592px; left:1448px;}
.dy_10Location41{ top:592px; left:1529px;}
.dy_10Location42{ top:592px; left:1610px;}
.dy_10Location43{ top:592px; left:1691px;}
.dy_10Location44{ top:592px; left:1772px;}
.dy_10Location45{ top:592px; left:1879px;}
.dy_10Location46{ top:592px; left:2002px;}

.dy_10Location47{ top:1067px; left:56px;}
.dy_10Location48{ top:1067px; left:137px;}
.dy_10Location49{ top:1067px; left:217px;}
.dy_10Location50{ top:1067px; left:298px;}
.dy_10Location51{ top:1067px; left:378px;}
.dy_10Location52{ top:1067px; left:460px;}
.dy_10Location53{ top:1067px; left:561px;}
.dy_10Location54{ top:1067px; left:642px;}
.dy_10Location55{ top:1067px; left:722px;}
.dy_10Location56{ top:1067px; left:803px;}
.dy_10Location57{ top:1067px; left:883px;}
.dy_10Location58{ top:1067px; left:964px;}
.dy_10Location59{ top:1067px; left:1065px;}
.dy_10Location60{ top:1067px; left:1146px;}
.dy_10Location61{ top:1067px; left:1227px;}
.dy_10Location62{ top:1067px; left:1308px;}
.dy_10Location63{ top:1067px; left:1389px;}
.dy_10Location64{ top:1067px; left:1471px;}
.dy_10Location65{ top:1067px; left:1551px;}
.dy_10Location66{ top:1067px; left:1632px;}
.dy_10Location67{ top:1067px; left:1725px;}
.dy_10Location68{ top:1057px; left:1886px;}
.dy_10Location69{ top:1067px; left:2002px;}

.dy_10Location70{ top:1578px; left:50px;}
.dy_10Location71{ top:1576px; left:205px;}
.dy_10Location72{ top:1579px; left:324px;}
.dy_10Location73{ top:1579px; left:405px;}
.dy_10Location74{ top:1579px; left:485px;}
.dy_10Location75{ top:1579px; left:566px;}
.dy_10Location76{ top:1579px; left:646px;}
.dy_10Location77{ top:1579px; left:728px;}
.dy_10Location78{ top:1579px; left:832px;}
.dy_10Location79{ top:1579px; left:913px;}
.dy_10Location80{ top:1579px; left:992px;}
.dy_10Location81{ top:1579px; left:1073px;}
.dy_10Location82{ top:1579px; left:1153px;}
.dy_10Location83{ top:1579px; left:1235px;}
.dy_10Location84{ top:1579px; left:1334px;}
.dy_10Location85{ top:1579px; left:1416px;}
.dy_10Location86{ top:1579px; left:1496px;}
.dy_10Location87{ top:1579px; left:1576px;}
.dy_10Location88{ top:1579px; left:1657px;}
.dy_10Location89{ top:1579px; left:1737px;}


/*hcfs4*/
.hcfs4Position{ position:absolute;}
.hcfs4_10Location1{ top:95px; left:53px;}
.hcfs4_10Location2{ top:89px; left:212px;}
.hcfs4_10Location3{ top:95px; left:299px;}
.hcfs4_10Location4{ top:95px; left:368px;}
.hcfs4_10Location5{ top:95px; left:437px;}
.hcfs4_10Location6{ top:95px; left:506px;}
.hcfs4_10Location7{ top:95px; left:575px;}
.hcfs4_10Location8{ top:95px; left:644px;}
.hcfs4_10Location9{ top:95px; left:728px;}
.hcfs4_10Location10{ top:95px; left:796px;}
.hcfs4_10Location11{ top:95px; left:865px;}
.hcfs4_10Location12{ top:95px; left:935px;}
.hcfs4_10Location13{ top:95px; left:1004px;}
.hcfs4_10Location14{ top:95px; left:1072px;}
.hcfs4_10Location15{ top:95px; left:1154px;}
.hcfs4_10Location16{ top:95px; left:1223px;}
.hcfs4_10Location17{ top:95px; left:1292px;}
.hcfs4_10Location18{ top:95px; left:1361px;}
.hcfs4_10Location19{ top:95px; left:1431px;}
.hcfs4_10Location20{ top:95px; left:1499px;}


.hcfs4Line{ padding-left:200px; color:#FFF; font-size:14px; text-align:center;}
.hcfsModel1Tit{ margin-bottom:10px;}
.hcfsModel1Station{ position:relative;}
.hcfsModel1Station dd{line-height:20px;}
.hcfs1_10Location1{ top:37px; left:35px;}
.hcfs1_10Location2{ top:33px; left:90px;}
.hcfs1_10Location3{ top:77px; left:309px;}
.hcfs1_10Location4{ top:77px; left:241px;}
.hcfs1_10Location5{ top:77px; left:252px;}
.hcfs1_10Location6{ top:77px; left:214px;}
.hcfs1_10Location7{ top:36px; left:55px;}
.hcfs1_10Location8{ top:36px; left:32px;}


.jinxian2Position{ position:relative;}
.jinxian2Img{ position:absolute; left:85px; top:-8px;}

.hcfsModel2Station{ position:relative;}
.model2TitAllStation{position:absolute;}
.model2Tit1Station{top:90px; left:248px;}
.model2Tit2Station{top:90px; left:195px;}
.model2Tit3Station{top:90px; left:167px;}



.hcfs4modelAllData{position:absolute;}
.hcfs4model2Data{top:30px; left:354px;}
.hcfs4model3Data{top:30px; left:296px;}
.hcfs4model4Data{top:30px; left:308px;}
.hcfs4model5Data{top:30px; left:260px;}



.hcfs4modelAllData li{ margin-bottom:9px;}
.hcfs4model2DataDT{ float:left; text-align:left; width:40px;;height:20px;line-height:20px;color:#FFF }
.hcfs4model2DataShow{ float:left;color:#01ff5b; border:1px solid #dd8912; width:74px; height:18px; line-height:18px;}

.OCModel{ width:46px;border:1px solid #103ee9; padding:2px; color:#FFF; margin-left:50px;}
.hcfsDataBox{}
.hcfsDataBox li{width:70px;border:1px solid #dd8912;height:18px; line-height:18px; margin:0 auto 9px;}

.hcfs_dataTit{position:absolute; top:223px; left:-47px;}
.hcfs_dataTit li{height:20px;line-height:20px; margin-bottom:9px;}

.mt34{ margin-top:34px;}


.MZBtnPosition{ position:relative;}
.MZBtn{ position:absolute; top:35px; left:1px;}


/*hcfs10_9gy*/

.gy_9Location1{ top:69px; left:131px;}
.gy_9Location2{ top:69px; left:445px;}
.gy_9Location3{ top:69px; left:585px;}
.gy_9Location4{ top:69px; left:726px;}
.gy_9Location5{ top:69px; left:866px;}

/*hcfs10_9dy*/

.dy_9Location1{ top:95px; left:87px;}
.dy_9Location2{ top:95px; left:169px;}
.dy_9Location3{ top:95px; left:249px;}
.dy_9Location4{ top:95px; left:329px;}
.dy_9Location5{ top:95px; left:409px;}
.dy_9Location6{ top:95px; left:491px;}
.dy_9Location7{ top:90px; left:633px;}
.dy_9Location8{ top:95px; left:726px;}
.dy_9Location9{ top:95px; left:807px;}
.dy_9Location10{ top:95px; left:886px;}
.dy_9Location11{ top:95px; left:967px;}
.dy_9Location12{ top:95px; left:1047px;}
.dy_9Location13{ top:95px; left:1128px;}
.dy_9Location14{ top:95px; left:1245px;}
.dy_9Location15{ top:95px; left:1326px;}
.dy_9Location16{ top:95px; left:1406px;}
.dy_9Location17{ top:95px; left:1487px;}
.dy_9Location18{ top:95px; left:1568px;}
.dy_9Location19{ top:95px; left:1649px;}
.dy_9Location20{ top:95px; left:1731px;}
.dy_9Location21{ top:95px; left:1812px;}
.dy_9Location22{ top:95px; left:1919px;}
.dy_9Location23{ top:95px; left:2042px;}

.dy_9Location24{ top:566px; left:137px;}
.dy_9Location25{ top:568px; left:230px;}
.dy_9Location26{ top:568px; left:311px;}
.dy_9Location27{ top:568px; left:391px;}
.dy_9Location28{ top:568px; left:473px;}
.dy_9Location29{ top:568px; left:553px;}
.dy_9Location30{ top:568px; left:633px;}
.dy_9Location31{ top:568px; left:739px;}
.dy_9Location32{ top:568px; left:820px;}
.dy_9Location33{ top:568px; left:900px;}
.dy_9Location34{ top:568px; left:981px;}
.dy_9Location35{ top:568px; left:1061px;}
.dy_9Location36{ top:568px; left:1143px;}
.dy_9Location37{ top:568px; left:1244px;}
.dy_9Location38{ top:568px; left:1325px;}
.dy_9Location39{ top:568px; left:1406px;}
.dy_9Location40{ top:568px; left:1487px;}
.dy_9Location41{ top:568px; left:1568px;}
.dy_9Location42{ top:568px; left:1649px;}
.dy_9Location43{ top:568px; left:1730px;}
.dy_9Location44{ top:568px; left:1811px;}
.dy_9Location45{ top:568px; left:1918px;}
.dy_9Location46{ top:568px; left:2041px;}

.dy_9Location47{ top:1044px; left:95px;}
.dy_9Location48{ top:1044px; left:176px;}
.dy_9Location49{ top:1044px; left:256px;}
.dy_9Location50{ top:1044px; left:337px;}
.dy_9Location51{ top:1044px; left:418px;}
.dy_9Location52{ top:1044px; left:498px;}
.dy_9Location53{ top:1044px; left:600px;}
.dy_9Location54{ top:1044px; left:682px;}
.dy_9Location55{ top:1044px; left:761px;}
.dy_9Location56{ top:1044px; left:842px;}
.dy_9Location57{ top:1044px; left:922px;}
.dy_9Location58{ top:1044px; left:1003px;}
.dy_9Location59{ top:1044px; left:1104px;}
.dy_9Location60{ top:1044px; left:1185px;}
.dy_9Location61{ top:1044px; left:1266px;}
.dy_9Location62{ top:1044px; left:1347px;}
.dy_9Location63{ top:1044px; left:1429px;}
.dy_9Location64{ top:1044px; left:1509px;}
.dy_9Location65{ top:1044px; left:1590px;}
.dy_9Location66{ top:1044px; left:1671px;}
.dy_9Location67{ top:1044px; left:1764px;}
.dy_9Location68{ top:1035px; left:1925px;}
.dy_9Location69{ top:1044px; left:2041px;}

.dy_9Location70{ top:1557px; left:90px;}
.dy_9Location71{ top:1557px; left:171px;}
.dy_9Location72{ top:1557px; left:251px;}
.dy_9Location73{ top:1557px; left:332px;}
.dy_9Location74{ top:1557px; left:412px;}
.dy_9Location75{ top:1557px; left:493px;}
.dy_9Location76{ top:1557px; left:597px;}
.dy_9Location77{ top:1557px; left:678px;}
.dy_9Location78{ top:1557px; left:758px;}
.dy_9Location79{ top:1557px; left:839px;}
.dy_9Location80{ top:1557px; left:920px;}
.dy_9Location81{ top:1557px; left:1000px;}
.dy_9Location82{ top:1557px; left:1100px;}
.dy_9Location83{ top:1557px; left:1181px;}
.dy_9Location84{ top:1557px; left:1261px;}
.dy_9Location85{ top:1557px; left:1342px;}
.dy_9Location86{ top:1557px; left:1422px;}
.dy_9Location87{ top:1557px; left:1503px;}
.dy_9Location88{ top:1557px; left:1628px;}
.dy_9Location89{ top:1554px; left:1784px;}

/*hcfs10_9Line1*/

.hcfs10_9Line1Position1{top:120px; left:39px;}
.hcfs10_9Line1Position2{top:120px; left:108px;}
.hcfs10_9Line1Position3{top:120px; left:177px;}
.hcfs10_9Line1Position4{top:120px; left:246px;}
.hcfs10_9Line1Position5{top:120px; left:315px;}
.hcfs10_9Line1Position6{top:120px; left:384px;}
.hcfs10_9Line1Position7{top:120px; left:467px;}
.hcfs10_9Line1Position8{top:120px; left:536px;}
.hcfs10_9Line1Position9{top:120px; left:605px;}
.hcfs10_9Line1Position10{top:120px; left:674px;}
.hcfs10_9Line1Position11{top:120px; left:743px;}
.hcfs10_9Line1Position12{top:120px; left:812px;}
.hcfs10_9Line1Position13{top:120px; left:894px;}
.hcfs10_9Line1Position14{top:120px; left:963px;}
.hcfs10_9Line1Position15{top:120px; left:1032px;}
.hcfs10_9Line1Position16{top:120px; left:1101px;}
.hcfs10_9Line1Position17{top:120px; left:1170px;}
.hcfs10_9Line1Position18{top:120px; left:1239px;}
.hcfs10_9Line1Position19{top:115px; left:1380px;}
.hcfs10_9Line1Position20{top:120px; left:1487px;}

/*hcfs10_5  */
.outer_margin{ padding:0 17px;}
.hcfs10_5_1{ width:428px;}

.hcfs_columnTit{
	width:160px; 
	text-align:center; 
	color:#FFF; 
	font-size:16px; 
	line-height:25px; 
	padding:10px 0; 
	border-left:2px solid #103ee9; 
	margin-left:122px;
	}
	
.hcfs10_5_contant{ width:344px; margin:0 auto;}

.hcfs10_5_contant dt,.hcfs10_5_contant dd{ float:left;}
.hcfs10_5_dataTit{ width:80px; text-align:center;color:#eeee00; font-size:14px; line-height:46px;}
.hcfs10_5_dataTit2{line-height:109px;}	
.hcfs10_5_dataTit3{line-height:23px;}
.hcfs10_5_rel{ height:46px; position:relative;}
.hcfs10_5_rel2{}
.hcfs10_5_OC{ position:absolute; width:24px; height:11px; left:39px; top:17px;}
.hcfs10_5_OC2{top:46px;}
	
.hcfs10_5_dataBox{
	position:relative;
	width:74px; 
	height:18px; 
	text-align:center; 
	line-height:18px; 
	padding:0 3px; 
	border:1px solid #dd8912;
	margin-top:13px;
	margin-left:10px;
	color:#fff;
	}
.hcfs10_5_dataBox2{margin-top:3px;}
.hcfs10_5_dataMark{position:absolute; left:84px; top:0;width:30px; text-align:center;color:#eeee00}

.switch_span {cursor: pointer;}
.guaPai{cursor: pointer; background:url(../images/line/hcfs/no_switching_on.png) no-repeat;width:77px;height:77px;top:8px;left:37px; background-size:30px 30px;}
.guaPai_mini{cursor: pointer; background:url(../images/line/hcfs/no_switching_on.png) no-repeat;width: 30px;height: 30px;top: 15px;left: 2px; background-size: 30px 30px;}


/*wugc*/
.whgcHeight{ height:30px;}
.lwmData{text-align:center;}
.whgcT1{ left:44px;}
.whgcT2{ left:60px;}

.whgcT3{ left:322px;}
.whgcT4{ left:100px;}
.whgcT5{ left:270px;}



.whgc_dataTit{width:40px; position:absolute;left:-25px; top:249px; }
.whgc_dataTitP2{left:-44px; }
.whgc_dataTit li{ margin-bottom:8px;}
.hcfsModel1Station dd{ color:#01ff5b}
.whgcW1{ width:96px;}
.whgcW2{ width:178px;}
.lwm2Group li .kdDT{ width:50px;}
.whgcOCP1{top:148px; left:53px;}
.whgcOCP2{top:28px; left:95px;}
.whgcOCP3{top:37px; left:45px;}
.lwm2Group li .whgcDw1{ width:38px; text-indent:5px;}










