body{background:#25292e!important;}
.selTXJ{width:1200px;font-size:14px; padding-top:20px; font-family:"微软雅黑";border-collapse:separate;}
.selTXJ thead td{ height:40px; line-height:40px;text-align:center;border:none;font-size:16px; color:#FFF;}
.selTXJ tbody{ color:#333;}
.sel{ display:inline-block; width:20px; height:20px;border:1px solid #aaa;}
.selTXJ tbody td{height:40px; line-height:40px;font-size:14px; text-align:center;color:#a0a8b4;}
.selTXJ tbody td input{display:inline-block; width:18px; height:18px;border:1px solid #a0a8b4;background:#212429!important;}
.addOrModify{ margin-top:27px;}
.addOrModify input{ display:inline-block; width:92px; height:45px; line-height:45px; text-align:center; border:none; font-size:14px; background:#ddd; color:#333; font-family:Microsoft YaHei;}
.addOrModify input:hover{background:#c1ebb4;}
.configer_submit{padding-top: 19px}

.overviewSubmit{}
.changePower{float:left;width:1200px; border:2px solid #dcdcdc; padding:22px 28px; background:#FFF;}
.changePower dl{ float: left;width:555px; margin-bottom:10px;height:28px; font-size:14px; color:#333; margin-right: 20px;}
.changePower dl dt{ float:left;}
.changePower dl dt input{display:inline-block; width:16px; height:16px; margin-top:5px;margin-right:18px; cursor:pointer;}
.changePower dl dd{ float:left;line-height:28px;}

.gaoXian{ margin-top:20px;}
.gaoXian label{ float:left;width:86px; height:30px; line-height:30px; border:2px solid #999; text-align:center; font-size:14px; color:#666;}
.gaoXian input{ float:left;width:215px; height:30px; line-height:30px; border:2px solid #999; border-left:none; padding:0 10px; font-size:14px; color:#666;}
.mb16{ margin-bottom:16px;}
.fazhiBtn input{ border:none; float:left; margin-right:25px; width:80px; height:40px; line-height:40px; text-align:center; background:#dfdfdf; color:#666; font-size:14px; font-family:Microsoft YaHei;}
.fazhiBtn input.fazhiBtnBack{background:#a7e5b0;}

.alermTit1{ display:inline-block; border-left:3px solid #efa61a; height:18px; line-height:18px; padding-left:10px; margin-right:72px; font-size:14px; font-weight:600; color:#666;}
.mr72{ margin-right:72px;}

.gaoXian .rightBorderNone{ border-right:none;}
.leftBorderRadius{ border-radius:7px 0 0 7px;-webkit-border-radius:7px 0 0 7px; -moz-border-radius:7px 0 0 7px; border-right:none;}
.rightBorderRadius{ border-radius:0 7px 7px 0;-webkit-border-radius:0 7px 7px 0;-moz-border-radius:0 7px 7px 0;}

.clearfix configer_submit{ position:relative;}
.configerSet{ position:absolute; right:530px; top:68px; width:42px; height:38px; background:url(../images/alerm/configerSet.png) no-repeat;}
.configerSet:hover{background:url(../images/alerm/configerSetActive.png) no-repeat;}


.configer-item-option{width:1148px;padding-left:1.5%;padding-right:3%;height:60px;line-height:60px;border:2px solid #e5e1e1;}
.configer-title{background:#939393;}
.configer-action-a{color:#a0a8b4;}
.configer-checkbox{background:#212429;}
/*input[type="checkbox"]{-webkit-appearance:none;background-color: #212429;}
input:checked{-webkit-appearance:none;color:white;}*/


 .content-right{width:91.14%;background:#fff;}
.configer_button{background:#e5e1e1;color:#4b4a4a;border:1px solid #9e9e9e;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;height:23px;line-height:10px;}
.ui-button{border-color:#535960;color:#a0a9b4;font-size:normal;}
#tg_select-button,#conf_name-button{background:#e5e1e1;}


.active dd{cursor: pointer;}
.clearfix dd{cursor: pointer;}

th, td { font-family:"微软雅黑"; font-size: 0.9em; }
table.dataTable tr.marked { background-color: #FFD900; }

a.tcdNumber:hover{ text-decoration:none;}
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;}
.tcdPageCode a{display: inline-block;color:#7b7b7b;display: inline-block;height: 25px;	line-height: 25px;padding: 0 10px;border: 1px solid #fff;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #7b7b7b;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color:#000;background:none;border:1px solid #fff;;vertical-align: middle; cursor:pointer;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color:#7b7b7b;background: none;border:none;vertical-align: middle;}
.configuer-title{height:50px;line-height:50px;width:70%;margin-left:2%;color:#000;border-bottom:2px solid #e5e1e1;}
.configuer-title h1{height:50px;line-height:50px;}
.configure_option{border:1px solid #c1c1c1;border-right:none;border-top:none;}
.configure_machine,.configure_tag,.configure_type,.configure_high,.configure_mostHigh,.configure_low,.configure_mostLow{border-bottom:1px solid #c1c1c1;}
.configure_operate{border:1px solid #c1c1c1;border-left:none;border-top:none;}

/*UI*/
.ui-button{border:none;color:#000!important;}
.configer-item-option .ui-button .ui-icon{border:none;}
.configer-item-option .ui-button{border:1px solid #ddd;}

/*报警管理*/
.overviewSubmit{margin-left:50px;margin-top:20px;}
.overviewSubmit form{border:2px solid #d8dade;width:65%;padding:15px 0;padding-left:35px;}
/*.overviewSubmit div{/*border:1px solid white;margin-bottom:10px;height:45px;line-height: 45px;}*/
/*.submitButtonBox{margin-top:65px;}*/
#checkbox{background:#2c323b;width:100%;}
.submitButtonBox .ui-button,.submitBox .ui-button{height:35px;}
.listBox input{border:1px solid red;width:200px;height:35px;line-height:35px;background:none;border: 1px solid #535960;color:#adb6c2;padding-left:10px;border-radius:0;}
/*.overviewSubmit .changePowerBox,*/.overviewSubmit .changeCheckbox{height:0;border:none;line-height:0;padding:0;}
.changePowerBox #checkbox{background:none;}
.submitBox{margin-top:10px;margin-left:26px;}
.configer-item-option .ui-button .ui-icon{border:none;}
.ui-draggable .ui-dialog-titlebar .ui-button .ui-icon{border:none;}
.update_form .listBox input{color:#000;}
.update_form #tg_select-button, #conf_name-button{background:none;}





