

sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.16666em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.016666em;
}
.ie .stl_06 {
	height: 70.16666em;
}
@font-face {
	font-family:"OSUSKQ+SimSun";
	src:url("d99c316c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.75em;
	font-family: "OSUSKQ+SimSun";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0.004em;
}

.ie .stl_09 {
	letter-spacing: 0.0484px;
}
.stl_10 {
	font-size: 1em;
	font-family: "OSUSKQ+SimSun";
	color: #000000;
}
.stl_11 {
	letter-spacing: 0.0371em;
}

.ie .stl_11 {
	letter-spacing: 0.5936px;
}
.stl_12 {
	font-size: 0.875em;
	font-family: "OSUSKQ+SimSun";
	color: #000000;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
.stl_14 {
	letter-spacing: -0.0007em;
}

.ie .stl_14 {
	letter-spacing: -0.0098px;
}
.stl_15 {
	font-size: 0.75em;
	font-family: "OSUSKQ+SimSun";
	color: #0000FF;
}
.stl_16 {
	letter-spacing: 0.0057em;
}

.ie .stl_16 {
	letter-spacing: 0.0798px;
}
.stl_17 {
	letter-spacing: 0.0047em;
}

.ie .stl_17 {
	letter-spacing: 0.0658px;
}
.stl_18 {
	letter-spacing: -0.0008em;
}

.ie .stl_18 {
	letter-spacing: -0.0112px;
}
.stl_19 {
	letter-spacing: -0.001em;
}

.ie .stl_19 {
	letter-spacing: -0.014px;
}
.stl_20 {
	letter-spacing: -0.0009em;
}

.ie .stl_20 {
	letter-spacing: -0.0126px;
}
.stl_21 {
	letter-spacing: -0.0005em;
}

.ie .stl_21 {
	letter-spacing: -0.007px;
}
.stl_22 {
	letter-spacing: 0.0629em;
}

.ie .stl_22 {
	letter-spacing: 0.8813px;
}
.stl_23 {
	letter-spacing: 0.0329em;
}

.ie .stl_23 {
	letter-spacing: 0.461px;
}
.stl_24 {
	letter-spacing: 0.0425em;
}

.ie .stl_24 {
	letter-spacing: 0.5955px;
}
.stl_25 {
	letter-spacing: 0.0627em;
}

.ie .stl_25 {
	letter-spacing: 0.8785px;
}
.stl_26 {
	letter-spacing: 0.033em;
}

.ie .stl_26 {
	letter-spacing: 0.4626px;
}
.stl_27 {
	letter-spacing: 0.064em;
}

.ie .stl_27 {
	letter-spacing: 0.8953px;
}
.stl_28 {
	letter-spacing: 0.063em;
}

.ie .stl_28 {
	letter-spacing: 0.882px;
}
.stl_29 {
	letter-spacing: 0.0842em;
}

.ie .stl_29 {
	letter-spacing: 1.1788px;
}
.stl_30 {
	letter-spacing: 0.0354em;
}

.ie .stl_30 {
	letter-spacing: 0.4956px;
}
.stl_31 {
	letter-spacing: 0.0828em;
}

.ie .stl_31 {
	letter-spacing: 1.1597px;
}
.stl_32 {
	letter-spacing: -0.0004em;
}

.ie .stl_32 {
	letter-spacing: -0.0056px;
}
.stl_33 {
	letter-spacing: 0.0413em;
}

.ie .stl_33 {
	letter-spacing: 0.5777px;
}
.stl_34 {
	letter-spacing: 0.1027em;
}

.ie .stl_34 {
	letter-spacing: 1.4371px;
}
.stl_35 {
	letter-spacing: -0.0557em;
}

.ie .stl_35 {
	letter-spacing: -0.7796px;
}
.stl_36 {
	letter-spacing: 0.0834em;
}

.ie .stl_36 {
	letter-spacing: 1.1681px;
}
.stl_37 {
	letter-spacing: 0.0018em;
}

.ie .stl_37 {
	letter-spacing: 0.0252px;
}
.stl_38 {
	letter-spacing: 0.0503em;
}

.ie .stl_38 {
	letter-spacing: 0.7042px;
}
.stl_39 {
	letter-spacing: 0.0496em;
}

.ie .stl_39 {
	letter-spacing: 0.6944px;
}
.stl_40 {
	letter-spacing: 0.0501em;
}

.ie .stl_40 {
	letter-spacing: 0.7014px;
}
.stl_41 {
	letter-spacing: -0.0006em;
}

.ie .stl_41 {
	letter-spacing: -0.0084px;
}
@font-face {
	font-family:"GWHUKR+TimesNewRomanPSMT";
	src:url("6f42187b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_42 {
	font-size: 0.75em;
	font-family: "GWHUKR+TimesNewRomanPSMT";
	color: #000000;
}
.stl_43 {
	line-height: 1.107422em;
}
.stl_44 {
	letter-spacing: 0.0411em;
}

.ie .stl_44 {
	letter-spacing: 0.5759px;
}
.stl_45 {
	letter-spacing: 0.062em;
}

.ie .stl_45 {
	letter-spacing: 0.8675px;
}
.stl_46 {
	letter-spacing: 0.0449em;
}

.ie .stl_46 {
	letter-spacing: 0.6291px;
}
.stl_47 {
	letter-spacing: 0.0227em;
}

.ie .stl_47 {
	letter-spacing: 0.3174px;
}
.stl_48 {
	letter-spacing: 0.0005em;
}

.ie .stl_48 {
	letter-spacing: 0.007px;
}
.stl_49 {
	letter-spacing: 0.0045em;
}

.ie .stl_49 {
	letter-spacing: 0.0623px;
}
.stl_50 {
	letter-spacing: 0.0004em;
}

.ie .stl_50 {
	letter-spacing: 0.0056px;
}
.stl_51 {
	letter-spacing: 0.0564em;
}

.ie .stl_51 {
	letter-spacing: 0.7889px;
}
.stl_52 {
	letter-spacing: -0.0003em;
}

.ie .stl_52 {
	letter-spacing: -0.0042px;
}
.stl_53 {
	letter-spacing: 0.0021em;
}

.ie .stl_53 {
	letter-spacing: 0.0294px;
}
.stl_54 {
	letter-spacing: -0.0001em;
}

.ie .stl_54 {
	letter-spacing: -0.0014px;
}
.stl_55 {
	letter-spacing: 0.0844em;
}

.ie .stl_55 {
	letter-spacing: 1.1821px;
}
.stl_56 {
	letter-spacing: 0.0001em;
}

.ie .stl_56 {
	letter-spacing: 0.0014px;
}
.stl_57 {
	letter-spacing: -0.0002em;
}

.ie .stl_57 {
	letter-spacing: -0.0028px;
}
.stl_58 {
	letter-spacing: 0.0996em;
}

.ie .stl_58 {
	letter-spacing: 1.3944px;
}
.stl_59 {
	letter-spacing: 0.0417em;
}

.ie .stl_59 {
	letter-spacing: 0.5843px;
}
.stl_60 {
	letter-spacing: -0.0511em;
}

.ie .stl_60 {
	letter-spacing: -0.7156px;
}
.stl_61 {
	letter-spacing: 0.0007em;
}

.ie .stl_61 {
	letter-spacing: 0.0098px;
}
.stl_62 {
	letter-spacing: 0.0416em;
}

.ie .stl_62 {
	letter-spacing: 0.5824px;
}
.stl_63 {
	letter-spacing: 0.0272em;
}

.ie .stl_63 {
	letter-spacing: 0.3808px;
}
.stl_64 {
	letter-spacing: 0.071em;
}

.ie .stl_64 {
	letter-spacing: 0.9944px;
}
.stl_65 {
	letter-spacing: 0.0512em;
}

.ie .stl_65 {
	letter-spacing: 0.7168px;
}
.stl_66 {
	letter-spacing: 0.0419em;
}

.ie .stl_66 {
	letter-spacing: 0.5871px;
}
.stl_67 {
	letter-spacing: 0.0012em;
}

.ie .stl_67 {
	letter-spacing: 0.0168px;
}
.stl_68 {
	letter-spacing: 0.1005em;
}

.ie .stl_68 {
	letter-spacing: 1.407px;
}
.stl_69 {
	letter-spacing: 0.1994em;
}

.ie .stl_69 {
	letter-spacing: 2.7916px;
}
.stl_70 {
	letter-spacing: 0.0933em;
}

.ie .stl_70 {
	letter-spacing: 1.306px;
}
.stl_71 {
	letter-spacing: 0.0506em;
}

.ie .stl_71 {
	letter-spacing: 0.7084px;
}
.stl_72 {
	letter-spacing: 0.2em;
}

.ie .stl_72 {
	letter-spacing: 2.8px;
}
.stl_73 {
	font-size: 0.875em;
	font-family: "OSUSKQ+SimSun";
	color: #7E7E7E;
}
.stl_74 {
	letter-spacing: 0.0297em;
}

.ie .stl_74 {
	letter-spacing: 0.4156px;
}
.stl_75 {
	letter-spacing: -0.0019em;
}

.ie .stl_75 {
	letter-spacing: -0.0266px;
}
.stl_76 {
	letter-spacing: 0.0414em;
}

.ie .stl_76 {
	letter-spacing: 0.5801px;
}
.stl_77 {
	letter-spacing: 0.0412em;
}

.ie .stl_77 {
	letter-spacing: 0.5768px;
}
.stl_78 {
	letter-spacing: 0.0826em;
}

.ie .stl_78 {
	letter-spacing: 1.1564px;
}
.stl_79 {
	letter-spacing: 0.0829em;
}

.ie .stl_79 {
	letter-spacing: 1.1601px;
}
.stl_80 {
	letter-spacing: 0.0824em;
}

.ie .stl_80 {
	letter-spacing: 1.1536px;
}
.stl_81 {
	letter-spacing: 0.021em;
}

.ie .stl_81 {
	letter-spacing: 0.2933px;
}
.stl_82 {
	letter-spacing: 0.0039em;
}

.ie .stl_82 {
	letter-spacing: 0.0546px;
}
.stl_83 {
	letter-spacing: 0.0309em;
}

.ie .stl_83 {
	letter-spacing: 0.4326px;
}
.stl_84 {
	letter-spacing: 0.029em;
}

.ie .stl_84 {
	letter-spacing: 0.4059px;
}
.stl_85 {
	letter-spacing: 0.0015em;
}

.ie .stl_85 {
	letter-spacing: 0.021px;
}
.stl_86 {
	letter-spacing: 0.0262em;
}

.ie .stl_86 {
	letter-spacing: 0.3668px;
}
.stl_87 {
	letter-spacing: 0.0031em;
}

.ie .stl_87 {
	letter-spacing: 0.0434px;
}
.stl_88 {
	letter-spacing: 0.0279em;
}

.ie .stl_88 {
	letter-spacing: 0.3904px;
}
.stl_89 {
	letter-spacing: 0.022em;
}

.ie .stl_89 {
	letter-spacing: 0.3085px;
}
.stl_90 {
	letter-spacing: 0.0246em;
}

.ie .stl_90 {
	letter-spacing: 0.3444px;
}
.stl_91 {
	letter-spacing: 0.0423em;
}

.ie .stl_91 {
	letter-spacing: 0.5917px;
}
.stl_92 {
	letter-spacing: 0.0041em;
}

.ie .stl_92 {
	letter-spacing: 0.0574px;
}
.stl_93 {
	letter-spacing: 0.0353em;
}

.ie .stl_93 {
	letter-spacing: 0.4938px;
}
.stl_94 {
	letter-spacing: -0.0011em;
}

.ie .stl_94 {
	letter-spacing: -0.0149px;
}
.stl_95 {
	letter-spacing: 0.0016em;
}

.ie .stl_95 {
	letter-spacing: 0.0224px;
}
.stl_96 {
	letter-spacing: 0.0424em;
}

.ie .stl_96 {
	letter-spacing: 0.5941px;
}
.stl_97 {
	letter-spacing: 0.0355em;
}

.ie .stl_97 {
	letter-spacing: 0.4972px;
}
.stl_98 {
	letter-spacing: 0.0571em;
}

.ie .stl_98 {
	letter-spacing: 0.7993px;
}
.stl_99 {
	letter-spacing: 0.0308em;
}

.ie .stl_99 {
	letter-spacing: 0.4312px;
}
.stl_100 {
	letter-spacing: 0.0498em;
}

.ie .stl_100 {
	letter-spacing: 0.6967px;
}
.stl_101 {
	letter-spacing: 0.0017em;
}

.ie .stl_101 {
	letter-spacing: 0.0238px;
}
.stl_102 {
	font-size: 0.75em;
	font-family: "OSUSKQ+SimSun";
	color: #0000FE;
}
.stl_103 {
	letter-spacing: 0.0159em;
}

.ie .stl_103 {
	letter-spacing: 0.1905px;
}
.stl_104 {
	letter-spacing: -0.0419em;
}

.ie .stl_104 {
	letter-spacing: -0.5866px;
}
.stl_105 {
	letter-spacing: -0.0324em;
}

.ie .stl_105 {
	letter-spacing: -0.4541px;
}
.stl_106 {
	letter-spacing: 0.0029em;
}

.ie .stl_106 {
	letter-spacing: 0.0406px;
}
.stl_107 {
	letter-spacing: -0.0416em;
}

.ie .stl_107 {
	letter-spacing: -0.5819px;
}
.stl_108 {
	letter-spacing: 0.0499em;
}

.ie .stl_108 {
	letter-spacing: 0.6986px;
}
.stl_109 {
	letter-spacing: 0.0284em;
}

.ie .stl_109 {
	letter-spacing: 0.3973px;
}
.stl_110 {
	letter-spacing: 0.1245em;
}

.ie .stl_110 {
	letter-spacing: 1.743px;
}
.stl_111 {
	letter-spacing: 0.0234em;
}

.ie .stl_111 {
	letter-spacing: 0.2811px;
}
.stl_112 {
	letter-spacing: 0.0051em;
}

.ie .stl_112 {
	letter-spacing: 0.0711px;
}
.stl_113 {
	letter-spacing: 0.0495em;
}

.ie .stl_113 {
	letter-spacing: 0.693px;
}
.stl_114 {
	letter-spacing: 0.0331em;
}

.ie .stl_114 {
	letter-spacing: 0.4639px;
}
.stl_115 {
	letter-spacing: 0.001em;
}

.ie .stl_115 {
	letter-spacing: 0.014px;
}
.stl_116 {
	letter-spacing: 0.0905em;
}

.ie .stl_116 {
	letter-spacing: 1.2667px;
}
.stl_117 {
	letter-spacing: 0.0827em;
}

.ie .stl_117 {
	letter-spacing: 1.158px;
}
.stl_118 {
	letter-spacing: 0.0311em;
}

.ie .stl_118 {
	letter-spacing: 0.4356px;
}
.stl_119 {
	letter-spacing: 0.0291em;
}

.ie .stl_119 {
	letter-spacing: 0.4077px;
}
.stl_120 {
	letter-spacing: 0.0765em;
}

.ie .stl_120 {
	letter-spacing: 1.0708px;
}
.stl_121 {
	letter-spacing: 0.0665em;
}

.ie .stl_121 {
	letter-spacing: 0.9315px;
}
.stl_122 {
	letter-spacing: 0.0622em;
}

.ie .stl_122 {
	letter-spacing: 0.8708px;
}
.stl_123 {
	font-size: 0.875em;
	font-family: "OSUSKQ+SimSun";
	color: #0000FE;
}
.stl_124 {
	letter-spacing: 0.0121em;
}

.ie .stl_124 {
	letter-spacing: 0.17px;
}
.stl_125 {
	letter-spacing: 0.0055em;
}

.ie .stl_125 {
	letter-spacing: 0.0771px;
}
.stl_126 {
	letter-spacing: 0.0205em;
}

.ie .stl_126 {
	letter-spacing: 0.2875px;
}
.stl_127 {
	letter-spacing: -0.0457em;
}

.ie .stl_127 {
	letter-spacing: -0.6401px;
}
.stl_128 {
	letter-spacing: 0.009em;
}

.ie .stl_128 {
	letter-spacing: 0.1265px;
}
.stl_129 {
	letter-spacing: 0.0208em;
}

.ie .stl_129 {
	letter-spacing: 0.2907px;
}
.stl_130 {
	letter-spacing: 0.0275em;
}

.ie .stl_130 {
	letter-spacing: 0.3856px;
}
.stl_131 {
	font-size: 0.875em;
	font-family: "OSUSKQ+SimSun";
	color: #00B0F0;
}
.stl_132 {
	letter-spacing: -0.0503em;
}

.ie .stl_132 {
	letter-spacing: -0.7041px;
}
.stl_133 {
	letter-spacing: 0.0186em;
}

.ie .stl_133 {
	letter-spacing: 0.2606px;
}
.stl_134 {
	font-size: 0.875em;
	font-family: "OSUSKQ+SimSun";
	color: #FF0000;
}
.stl_135 {
	letter-spacing: -0.0264em;
}

.ie .stl_135 {
	letter-spacing: -0.37px;
}
.stl_136 {
	letter-spacing: 0.0365em;
}

.ie .stl_136 {
	letter-spacing: 0.511px;
}
.stl_137 {
	letter-spacing: 0.0215em;
}

.ie .stl_137 {
	letter-spacing: 0.3009px;
}
.stl_138 {
	letter-spacing: 0.0195em;
}

.ie .stl_138 {
	letter-spacing: 0.2736px;
}
.stl_139 {
	letter-spacing: 0.0283em;
}

.ie .stl_139 {
	letter-spacing: 0.396px;
}
.stl_140 {
	letter-spacing: -0.014em;
}

.ie .stl_140 {
	letter-spacing: -0.1961px;
}
.stl_141 {
	letter-spacing: 0.0106em;
}

.ie .stl_141 {
	letter-spacing: 0.1488px;
}
