/*-------------------全局样式  begin------------------------*/
*{outline:none;margin:0;padding:0;text-decoration:none;list-style:none;}
.left{float:left;}
.right{float:right;}
.clear:after{content:'';clear:both;display:block;}
body{background:#25292e!important;}
/*-----------------  全局样式  end ---------------------*/

/*-----------------  媒体查询  begin ---------------------*/
@media all and ( max-width:1300px ){
    .bulb,.bulb-off,.wind,.wind-off{height:15px!important;width:15px!important;line-height:15px!important;}
    .yml{top:71.5%!important;}
}
@media all and ( max-width:800px ){
    .header-box{width:800px!important;}
    .wrap{width:800px!important;}
}
/*-----------------  媒体查询  end ---------------------*/


/*-----------------  右侧内容  begin ---------------------*/
.ele-analysis-wrap{width:89.7%;padding-left:1.16%;padding-top:20px;padding-bottom:100px;font-size:14px;}
.ele-analysis-box{width:100%;}
.ele-analysis-top{width:100%;height:218px;background:#303740;margin-bottom:10px;}
.ele-analysis-title{padding-left:1.74%;width:98.2%;color:white;height:35px;line-height: 35px;margin-bottom:25px;}
.ele-factoryName{}
.ele-route,.ele-quantity{padding-left:1.74%;width:38.7%;color:#a0a9b4;height:35px;line-height:35px;}
.ele-item-name{text-align:left;height:35px;line-height:35px;}
.ele-item-name-right{width:20%;}
.ele-item-name-left{width:35%;}
.ele-route-con{height:22px;width:35%;border:1px solid #a0a9b4;color:#a0a9b4;background:#303740;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;behavior:url(../ie-css3.htc);}
.ele-route-con option{color:white;}
.ele-cycle,.ele-dataDate{width:56.78%;height:35px;line-height:35px;color:#a0a9b4;}
.ele-cycle-btn{cursor:pointer;margin-right:10px;border:1px solid #a0a9b4;background:#212429;margin-top:0.6%;width:60px;height:22px;text-align: center;line-height:22px;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;behavior:url(../ie-css3.htc);}
.ele-cycle-btnCircle{margin:7% 5% auto;background:#7c838e;width:14px;height:14px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;behavior:url(../ie-css3.htc)}
.ele-quantity-btn{margin-right:10px;width:46px;cursor:pointer;border:1px solid #a0a9b4;background:#212429;margin-top:0.6%;height:22px;text-align: center;line-height:22px;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;behavior:url(../ie-css3.htc);}
.ele-quantity-btnBig{width:60px;margin-right:10px;cursor:pointer;border:1px solid #a0a9b4;background:#212429;margin-top:0.6%;height:22px;text-align: center;line-height:22px;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;behavior:url(../ie-css3.htc);}
.ele-btnCircle-active{background:#303740;border:1px solid #ffffff;}
.ele-btn-active{background:#2a84f6;border:1px solid black;color:#ffffff;}
.ele-line-box{width:100%;margin-bottom:10px;}
.ele-line-boxWrap{position:relative;padding-top:24.45%;}
.ele-line-con{width:100%;height:100%;position:absolute;top:0;left:0;background:#25292e}



/*-----------------  右侧内容  end ---------------------*/