/*-------------------全局样式  begin------------------------*/
*{margin:0;padding:0;text-decoration:none;list-style:none;font:14px  Helvetica, Arial, sans-serif;}
.left{float:left;}
.right{float:right;}
.clear:after{content:'';clear:both;display:block;}
body{background:#212429;}
/*-----------------  全局样式  end ---------------------*/

/*-----------------  媒体查询  begin ---------------------*/
@media all and ( max-width:1300px ){
    .bulb,.bulb-off,.wind,.wind-off{height:15px!important;width:15px!important;line-height:15px!important;}
    
}
@media all and ( max-width:800px ){
    .header-box{width:800px!important;}
    .wrap{width:800px!important;}
}
/*-----------------  媒体查询  end ---------------------*/


/*-----------------  右侧内容  begin ---------------------*/
.control-con{width:91.14%;background:#fff;}
.con-wrap{position:relative;padding-top:69.52%;}
.znzk-img{position:absolute;width:100%;height:100%;top:0;left:0;}
.znkz-box{width:95%;margin:0 auto;margin-bottom:5%;}
.bulb{font-size:10px;position:absolute;text-align:center;line-height:20px;width:20px;height:20px;color:red;border:1px solid red;-moz-border-radius:50%;border-radius:50%;-webkit-border-radius:50%;behavior: url(../ie-css3.htc);}
.bulb-off{font-size:10px;position:absolute;text-align:center;line-height:20px;width:20px;height:20px;color:red;border:1px solid #666666;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;behavior:url(../ie-css3.htc)}
.wind{font-size:10px;border:1px solid #3990ff;color:limegreen;position:absolute;width:17px;height:17px;text-align: center;line-height:17px;}
.wind-off{cursor:pointer;font-size:10px;border:1px solid #666666;color:#666666;position:absolute;width:17px;height:17px;text-align: center;line-height:17px;}
.switch_control{cursor:pointer;}

.bulb-div{font-size:10px;position:absolute;text-align:center;line-height:20px;width:20px;height:20px;}



/*弹框*/
.validateTips{height:30px;line-height:30px;}
/*-----------------  右侧内容  end ---------------------*/