  
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>用户登录</title>
	</head>
	 
	<body>
		<form class="form-horizontal" action="http://localhost:8080/user/login" method="post">
			<table> 
				<tr>
					<td>
						username
					<td>
					<td>
						<input type = "text" id = "username" name = "username" />
					<td> 
			    </tr>
			    <tr>
			    	<td>  
						password
					</td>
					<td>
						<input type = "password" id = "password" name = "password" />
					</td> 
				</tr>
				<tr>
					<td>
						<input type="submit" value="login"/> 
					</td>	
				</tr>
			</table>
		</form>
       	 
	</body>
</html>